
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.money {
  font-size: 28px;
  display: flex;
  justify-content: center; 
  align-items: center;
}
.budgetbar {
  display: flex;
  align-items: flex-start;
}
.budgetinglinks {
  display: flex;
  text-justify: auto;
  align-items: flex-start; 
  width: fit-content;
}
.budgetdisplay {
  display: flexbox;
  flex-direction: row
}
.currentMonth {
  display: flex;
  justify-content: left;
}
.firstmonthamount {
  display: flex;
    grid-area: left;
    margin: 10px;
    font-family: "Open Sans", serif;
    font-size: 16px;
    margin: 10px;
    text-align:left;
  }
  .firstmonthspending {
    display: grid;
  flex-direction: column;
    justify-content: center;
    margin: 10px;
    font-family: "Open Sans", serif;
    font-size:16px;
    text-align: left;
  }
  .secondmonthamount {
    display: grid;
    grid-auto-columns: auto;
    align-items: start;
      grid-area: left;
      margin: 10px;
      font-family: "Open Sans", serif;
      font-size: 16px;
      margin: 10px;
      text-align:left;
    }
    .secondmonthspending {
      display: grid;
    flex-direction: column;
      justify-content: center;
      margin: 10px;
      font-family: "Open Sans", serif;
      font-size:16px;
      text-align: left;
    }




  .btn {
  cursor: pointer;
  background-color: skyblue;
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 50%;
  
}
