 body {
  background-color: rgb(173, 172, 164);
  font-family: 'Comic Sans';
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400; 

} 
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Times',
    monospace;
} */
