 body {
  background-color: khaki;
  font-family: 'Open Sans';
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400; 

} 
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Times',
    monospace;
} */
